{% extends "base.html" %} {% block content %}
    {% load static %}{% load compress %}
    {% compress js %}
        <script src="{% static 'js/login.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        window.rockon_data = {
            api_crm_account_create: "{% url "api_crm_account_create" %}",
            api_crm_request_magic_link: "{% url "apiv2:request_magic_link" %}",
            account_created_redirect: "{% url "base:account_created" %}",
        }
    </script>
    <div><h1>Rockon Login</h1></div>
    <section class="row p-4 form-section">
        <div><h3>Magischen Link anfordern</h3></div>
        <div class="alert alert-secondary">Wenn du bereits einen Account bei Rockon hast, kannst du dir hier einen
            Magic-Link zusenden lassen, mit dem du dich einloggen kannst.<br>Diese Links laufen nicht ab, du kannst also
            auch direkt auf einen Link klicken, den du bereits in deinem Postfach hast.
        </div>
        <form id="login_form" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="user_email">E-Mail Adresse</label>
                <input type="email" name="login_user_email" id="login_user_email" class="form-control not-empty"
                       placeholder="jane.doe@example.net" autocomplete="email"/>
                <div class="valid-feedback">
                </div>
                <div class="invalid-feedback">
                    Bitte gibt eine gültige E-Mail Adresse an.
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="button" id="form_login_submit" class="w-100 btn btn-primary" disabled>Anfordern</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <div id="login_message" class="col-md-8 d-none">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">🪄 Magic-Link versandt</h4>
                    <p>
                        Wir haben dir eine Mail mit einem Magic-Link zugeschickt. Bitte überprüfe
                        in den nächsten Minuten, ob Du eine entsprechende Mail von uns bekommen hast.
                    </p>
                    <hr>
                    <p>
                        ⚠️ Wie immer gilt: Im Zweifel solltest du auch den Spamverdacht-Ordner checken.
                        Sollte das der Fall sein, würden wir uns sehr über Feedback an
                        <a href="mailto:rockon@cpye.de">rockon@cpye.de</a> freuen.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </form>
    </section>

    <div class="centered text-center mt-3">
        <h3>oder</h3>
    </div>

    <section class="row p-4 form-section">
        <div><h3>Neuen Account erstellen</h3></div>
        <div class="alert alert-secondary">Wenn du das erste mal hier bist und noch keinen Account hast, dann kannst du
            dir hier einen Account erstellen.
        </div>
        <form id="signup" class="row align-items-center needs-validation" novalidate>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div><h3>E-Mail-Adresse</h3></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 g-4">
                        <label for="user_email">E-Mail Adresse</label>
                        <input type="email" name="user_email" id="user_email" class="form-control not-empty"
                               placeholder="jane.doe@example.net" autocomplete="email"/>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                            Bitte gibt eine gültige E-Mail Adresse an.
                        </div>
                    </div>
                    <div class="col-sm-6 g-4">
                        <label for="user_email_confirmation">E-Mail Adresse bestätigen</label>
                        <input type="email" name="user_email_confirmation" id="user_email_confirmation"
                               class="form-control not-empty" placeholder="jane.doe@example.net" autocomplete="off"/>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                            Bitte wiederhole deine E-Mail Adresse.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div><h4>Warum erheben wir diese Informationen?</h4></div>
                <p>
                    Deine Email-Adresse ist für uns sehr wichtig. Mit ihr kannst du dich immer wieder
                    bei Rockon anmlden.
                </p>
            </div>

            <div class="col-md-12">
                <div class="pt-3"><h3>Rechtliches</h3></div>
                <div class="form-check form-switch">
                    <input class="form-check-input not-empty" type="checkbox" role="switch" id="allow_contact"
                           name="allow_contact">
                    <label class="form-check-label" for="allow_contact">
                        Ich bin damit einverstanden, dass der CPYE e.V. mich für Dinge rund um den Rocktreff und das
                        Spielfest kontaktieren darf.
                    </label>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">
                        Bitte erlaube uns, dich zu kontaktieren.
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-check form-switch">
                    <input class="form-check-input not-empty" type="checkbox" role="switch" id="read_privacy"
                           name="read_privacy">
                    <label class="form-check-label" for="read_privacy">
                        Ich habe die <a href="{% url "rockon_privacy" %}" target="_blank">Datenschutzbestimmungen</a>
                        zur Kenntnis genommen
                        und erkläre mich mit der Speicherung und Verarbeitung personenbezogener Daten im Rahmen der
                        Veranstaltungen Rocktreff
                        und Spielfest einverstanden.
                    </label>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">
                        Bitte bestätige, dass du die Datenschutzbestimmungen gelesen hast.
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-12 mx-auto pt-3">
                <div class="row g-2">
                    <div class="col">
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button id="form_signup_submit" type="button" class="btn btn-primary">Account erstellen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-12 mx-auto pt-3">
                <div class="row g-2">
                    <div class="col">
                        <div id="form_message"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="account_context" value="{{ account_context }}"/>

        </form>
    </section>

{% endblock content %}
