[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessed = "==1.19.1"
django = "==4.1.5"
django-filter = "==22.1"
django-health-check = "==3.17.0"
django-q2 = "==1.4.9"
django-redis = "==5.2.0"
djangorestframework = "==3.14.0"
gunicorn = "==20.1.0"
markdown = "==3.4.1"
pillow = "==9.4.0"
psycopg2-binary = "==2.9.5"
python-dotenv = "==0.21.0"
redis = "==4.4.2"

[dev-packages]
django-debug-toolbar = "==3.8.1"
pre-commit = "==3.0.2"
black = "==23.1a1"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[pipenv]
allow_prereleases = true
