[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessed = "==1.20.0"
django = "==4.2.5"
django-autoslug = "==1.9.9"
django-filter = "==23.2"
django-health-check = "==3.17.0"
django-q2 = "==1.5.4"
django-redis = "==5.3.0"
djangorestframework = "==3.14.0"
gunicorn = "==21.2.0"
markdown = "==3.4.4"
pillow = "==10.0.0"
psycopg = {extras = ["binary", "pool"], version = "==3.1.10"}
psycopg-binary = "==3.1.10"
python-dotenv = "==1.0.0"
python-magic = {version = "==0.4.27",sys_platform = "!='win32'"}
python-magic-bin = {version = "==0.4.14",sys_platform = "=='win32'"}
redis = "==5.0.0"
sentry-sdk = "==1.30.0"
tzdata = "==2023.3"

[dev-packages]
django-debug-toolbar = "==4.2.0"
pre-commit = "==3.3.3"
black = "==23.7.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"

[pipenv]
allow_prereleases = true
