<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" aria-label="" style="color: white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "rockon_landing_index" %}">rockon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "crm_user_home" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "crm_user_profile" %}">Profil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Werkzeuge</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "tools_qrcode_generator" %}">QR Code Generator</a></li>
            <li><a class="dropdown-item disabled" href="#">Link-Shortener</a></li>
          </ul>
        </li>
        {% for group in user.groups.all %}
          {% if group.name == "catering_food" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Küche</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "kitchen_attendance" %}">Mengenliste</a></li>
            </ul>
          </li>
          {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <div class="navbar-item">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <span class="nav-link">
              <i class="fa-solid fa-user"></i> Hey <strong>{{ user.first_name }}!</strong>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">
              Log out
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <div class="navbar-item">
        <a class="btn btn-secondary" href="{% url "crm_request_magic_link" %}">
          Log in
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
