{% extends "base.html" %} {% block content %} {% load static %}{% load compress %}
    {% compress js file qrcode %}
        <script src="{% static 'vendor/qrcode.min.js' %}"></script>
    {% endcompress %}

    <script nonce="{{ csp_nonce }}">
        $(document).ready(() => {
            const url = '{{ link_shortener.url }}'
            console.debug(url)
            qrcode = new QRCode(document.getElementById('qrcode'), url)
        })
    </script>

    <div class="jumbotron">
        <div class="row pb-3">
            <div class="col-md-12 text-center">
                <h1>{{ link_shortener.url }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="qrcode">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock content %}
