{% extends "base.html" %} {% block content %} {% load static %}
<script src="{% static 'vendor/qrcode.min.js' %}"></script>

<script>
  var qrcode
  var elText
  const generateQR = () => {
    url = elText.value
    if (!qrcode) {
      qrcode = new QRCode(document.getElementById('qrcode'), url)
    } else {
      qrcode.clear()
      qrcode.makeCode(url)
    }
  }

  $(document).ready(() => {
    window.addEventListener('hashchange', () => {
      elText.value = decodeURIComponent(location.hash.substring(1))
      generateQR()
    })
    elText = document.getElementById('content')
    elText.oninput = () => {
      window.location.hash = encodeURIComponent(elText.value)
    }
    elText.value = decodeURIComponent(location.hash.substring(1))

    generateQR()
  })
</script>

<h1>QR Code Generator</h1>
<div class="jumbotron">
  <div class="row pb-3">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <form>
        <label>QR Code Inhalt</label>
        <input type="text" id="content" placeholder="Inhalt" />
    </form>
  </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div id="qrcode">
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock content %}
