{% extends "base.html" %} {% load static %}
{% block content %}
<script src="{% static "js/chart.4.2.1.js" %}"></script>

<div class="container-fluid">

<h3>Anzahl der Crewmitglieder</h3>


</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for item in attendances %}'{{ item.day }}',{% endfor %}],
      datasets: [{
        label: 'Anzahl der Crewmitglieder',
        data: [{% for item in attendances %}'{{ item.no_of_crew_members }}',{% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
    },
  });
</script>

{% endblock content %}
