{% extends "base.html" %}
{% block content %}

<h1>Registrierung</h2>
<p>
  Hier kannst du dich bei ROCKON registrieren und so Teil der Crew für
  den kommenden ROCKTREFF werden!
</p>
<p class="d-none">
  Warst du schonmal einmal Teil der Crew?
  Dann wähle <strong>Wiederholungstäterin</strong>!
</p>
<div class="d-grid gap-2 col-6 mx-auto">
  <div class="row g-2">
    <div class="col">
      <div class="d-grid gap-2 col-12 mx-auto">
        <a class="btn btn-primary" role="button" href="{% url "crew_signup" slug=slug %}">🤘 Neue Registrierung</a>
      </div>
    </div>
    <div class="col d-none">
      <div class="d-grid gap-2 col-12 mx-auto">
        <a class="btn btn-primary" role="button" href="{% url "crm_request_magic_link" %}">❤️ Wiederholungstäterin</a>
      </div>
    </div>
  </div>
</div>
<p class="has-text-centered">Fragen? <a href="mailto:crew@rocktreff.de">crew@rocktreff.de</a></p>

{% endblock content %}
