{% extends "base.html" %} {% block content %}{% load static %}

<script language="javascript">
  $(document).ready(() => {
    $('#select_all_attendance').click((event) => {
      event.preventDefault()
      for (const el of $('[name^=attendance_]')) {
        el.checked = true
      }
    })

    $('#select_none_attendance').click((event) => {
      event.preventDefault()
      for (const el of $('[name^=attendance_]')) {
        el.checked = false
      }
    })

    $('#form_reset').click((event) => {
      event.preventDefault()
      $("#signup").trigger("reset")
    })
  })

  ajax_success = (data) => {
    console.info(data)
    window.location.href = "{% url "crew_signup_submitted" slug=slug %}"
  }
  ajax_error = (data) => {
    // FIXMIE: needs error handling
    console.error(data)
  }
  ajax_complete = (data) => {
    // hopenfully this is never triggered
    console.info(data)
  }

  const send_form = (fields) => {
    console.debug(fields)
    $.ajax({
      type: "POST",
      url: "{% url "api_crew_signup" slug=slug %}",
      data: JSON.stringify(fields),
      contentType: "application/json",
      headers: {
        "X-CSRFToken": fields.csrfmiddlewaretoken
      },
      dataType: "json",
      success: (data) => ajax_success(data),
      error: (data) => ajax_error(data),
      complete: (data) => ajax_complete(data)
    })
  }

</script>

<h1>Neue Crewanmeldung</h1>
<form id="signup" class="row g-3">
  {% csrf_token %}
  <h2>Persönliches</h2>
  <div class="col-md-6">
    <label for="user_first_name">Vorname</label>
    <input type="text" name="user_first_name" class="form-control" id="user_first_name" placeholder="Jane" autocomplete="given-name" />
  </div>
  <div class="col-md-6">
    <label for="user_last_name">Nachname</label>
    <input type="text" name="user_last_name" class="form-control" id="user_last_name" placeholder="Doe" autocomplete="family-name" />
  </div>
  <div class="col-md-6">
    <label for="user_nick_name">Nickname</label>
    <input type="text" name="user_nick_name" class="form-control" id="user_nick_name" placeholder="Jane" autocomplete="given-name" />
  </div>
  <div class="col-md-6">
    <label for="user_birthday">Geburtstag</label>
    <input type="date" name="user_birthday" class="form-control" id="user_birthday" placeholder="01.01.1970" autocomplete="bday" />
  </div>
  <div class="col-md-9">
    <label for="user_address">Straße</label>
    <input type="text" name="user_address" class="form-control" id="user_address" placeholder="Straße" autocomplete="street-address" />
  </div>
  <div class="col-md-3">
    <label for="user_address_housenumber">Hausnummer</label>
    <input type="text" class="form-control" name="user_address_housenumber" id="user_address_housenumber" placeholder="Hausnummer" />
  </div>
  <div class="col-md-12">
    <label for="user_address_extension">Addresszusatz</label>
    <input type="text" class="form-control" name="user_address_extension" id="user_address_extension" placeholder="Addresszusatz" autocomplete="off" />
  </div>
  <div class="col-md-6">
    <label for="user_zipcode">Postleitzahl</label>
    <input type="text" pattern="[\d+]{5}" name="user_zipcode" id="user_zipcode" class="form-control" placeholder="Postleitzahl" maxlength="5" autocomplete="postal-code" />
  </div>
  <div class="col-md-6">
    <label for="user_place">Ort</label>
    <input type="text" class="form-control" name="user_place" id="user_place" placeholder="Ort" autocomplete="home city"/>
  </div>
  <h2>Kontakt</h2>
  <div class="col-md-6">
    <label for="user_email">E-Mail Adresse</label>
    <input type="email" name="user_email" id="user_email" class="form-control" placeholder="E-Mail Adresse" autocomplete="email" />
  </div>
  <div class="col-md-6">
    <label for="user_email_confirmation">E-Mail Adresse bestätigen</label>
    <input type="email" name="user_email_confirmation" id="user_email_confirmation" class="form-control" placeholder="E-Mail Adresse bestätigen" autocomplete="off" />
  </div>
  <div class="col-md-12">
    <label for="user_mobile">Handynummer</label>
    <input type="tel" name="user_mobile" id="user_mobile" class="form-control" placeholder="Handynummer" autocomplete="tel" />
  </div>
  <h2>Essen &amp; T-Shirt</h2>
  <div class="col-md-12">
    <label for="nutriton_type" class="form-label">Essensgewohnheit</label>
    <select id="nutriton_type" name="nutriton_type" class="form-select">
      <option selected>Ernährung</option>
      <option data-value="omnivore">Alles-Esser</option>
      <option data-value="vegetarian">Vegatrisch</option>
      <option data-value="vegan">Vegan</option>
    </select>
  </div>
  <div class="col-md-12">
    <label for="nutrition_note" class="form-label">Anmerkungen zu Essensgewohnheiten, Unverträglichkeiten, etc.</label>
    <textarea class="form-control" id="nutrition_note" name="nutrition_note" rows="3"></textarea>
  </div>
  <div class="col-md-12">
    <label for="crew_shirt">T-Shirt</label>
    <select id="crew_shirt" name="crew_shirt" class="form-select">
      <option selected>Schnitt und Größe</option>
      {% for shirt in shirts %}
        <option data-value="{{ shirt.id }}">{{ shirt }}</option>
      {% endfor %}
    </select>
    <div class="alert alert-info mt-3" role="alert">
      <h4 class="alert-heading">Erklärung Schnitt</h4>
      <hr>
      <ul>
        <li>fitted: figurbetonter Schnitt</li>
        <li>straight: normaler Schnitt</li>
      </ul>
    </div>
  </div>
  <h2>Formale Qualifikationen und Fähigkeiten</h2>
  <div class="col-md-12">
    <label>Welche Qualifikationen und Weiterbildungen hast du?</label>
      {% for skill in skills %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="skill_{{ skill.id }}" name="skill_{{ skill.id }}">
        <label class="form-check-label" for="skill_{{ skill.id }}">
          {{ skill }} - <i>{{ skill.explanation }}</i>
        </label>
      </div>
      {% endfor %}
  </div>
  <div class="col-md-12">
    <label for="skills_note" class="form-label">Anmerkungen zu deinen Fähigkeiten</label>
    <textarea class="form-control" id="skills_note" name="skills_note" rows="3"></textarea>
  </div>
  <h2>Anwesenheit</h2>
  <div class="field">
    <label>An welchen Tagen kannst du vor Ort sein?</label>
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="row g-2">
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="select_all_attendance" type="button" class="btn btn-primary btn-sm">Alle Tage auswählen</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="select_none_attendance" type="button" class="btn btn-primary btn-sm">Alle Tage abwählen</button>
          </div>
        </div>
      </div>
    </div>
    {% for phase in attendance_phases %}
    <h3>{{ phase.name }}</h3>
    <div class="row">
    {% for day in phase.days %}
          <div class="col">
          <input class="form-check-input" type="checkbox" value="" id="attendance_{{ day.id }}" name="attendance_{{ day.id }}">
          <label class="form-check-label" for="attendance_{{ day.id }}">
            {{ day }}
          </label>
          </div>
    {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="col-md-12">
    <label for="skills_note" class="form-label">Anmerkungen zu deiner Anwesenheit</label>
    <textarea class="form-control" id="attendance_note" name="attendance_note" rows="2"></textarea>
  </div>
  <div class="col-md-12">
    <input class="form-check-input" type="checkbox" value="" id="stays_overnight" name="stays_overnight" disabled>
    <label class="form-check-label" for="stays_overnight">Ich übernachte vor Ort.</label>
  </div>
  <div class="col-md-12">
    <input class="form-check-input" type="checkbox" value="" id="leave_of_absence" name="leave_of_absence">
    <label class="form-check-label" for="leave_of_absence">Ich brauche eine Befreiung von Schule, Universität oder ähnlichem.</label>
  </div>
  <div class="col-md-12">
    <label for="leave_of_absence_note" class="form-label">Anmerkungen zu meiner Befreiung</label>
    <textarea class="form-control" id="leave_of_absence_note" name="leave_of_absence_note" rows="2" disabled></textarea>
  </div>
  <h2>Tätigkeiten</h2>
  <div class="field">
  <label>Für welche Teams interessierst du dich?</label>
  <div class="col-md-12">
    <div class="row">
      {% for team in teams %}
      <div class="col-sm-4 pb-3">
        <div class="card" style="width: 18rem;">
          {% if not team.image %}
            <img class="card-img-top" src="{% static "assets/4_3_placeholder.png" %}">
          {% else %}
            <img class="card-img-top" src="{{ team.image.url }}">
          {% endif %}
          <div class="card-header">
            {{ team.lead|default_if_none:"Kein Gewerkeleiter" }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ team }}</h5>
            <p class="card-text">{{ team.description }}</p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="team_{{ team.id }}" name="team_{{ team.id }}">
              <label class="form-check-label" for="team_{{ team.id }}">Interesse</label>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <h2>Verschiedenes</h2>
  <div class="col-md-12">
    <label for="general_note" class="form-label">Möchtest du uns noch etwas mitteilen?</label>
    <textarea class="form-control" id="general_note" name="general_note" rows="3"></textarea>
  </div>
  {% include "snippets/rechtliches.html" %}
  <div class="d-grid gap-2 col-12 mx-auto pt-3">
    <div class="row g-2">
      <div class="col">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button id="form_submit" type="button" class="btn btn-primary" disabled>Absenden</button>
        </div>
      </div>
      <div class="col">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button id="form_reset" type="button" class="btn btn-secondary">Neustart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="error_messages">
  </div>
</form>

{% endblock content %}
