{% extends "base.html" %} {% block content %}{% load static %}

<script language="javascript">
  $(document).ready(() => {
    $('#select_all_attendance').click((event) => {
      event.preventDefault()
      for (const el of $('[name^=attendance_]')) {
        el.checked = true
        el.value = "on"
      }
    })

    $('#select_none_attendance').click((event) => {
      event.preventDefault()
      for (const el of $('[name^=attendance_]')) {
        el.checked = false
        el.value = ""
      }
    })

    $('#form_reset').click((event) => {
      event.preventDefault()
      $("#signup").trigger("reset")
      $('#signup :input').val('')
      $(".not-empty").removeClass('is-valid is-invalid')
    })

    $('#form_submit').on('click', (event) => {
      event.preventDefault()
      console.debug("submit")
      const form = $('#signup')
      var validated = false
      el = form.find('.not-empty')
      console.debug("not-empty elements", el)
      for (const input of el) {
        validate_input({target: input})
        if (input.classList.contains('is-invalid')) {
          validated = false
          break
        } else {
          validated = true
        }
      }
      console.debug("validated", validated)
      const form_data = form.serializeArray()
      console.debug("form data", form_data)
      if (validated) {
        send_form(form_data)
      }
    })

    $('.not-empty').on('blur', event => {
      console.debug("not-empty handler triggered", event)
      validate_input(event)
    })

    $('#leave_of_absence').on("change", (event) => {
      event.preventDefault()
      if (event.target.checked) {
        $('#leave_of_absence_note').prop('disabled', false)
      } else {
        $('#leave_of_absence_note').val("")
        $('#leave_of_absence_note').prop('disabled', true)
      }
    })
  })

  validate_input = (input) => {
    if (input.target.type === "checkbox") {
      console.debug("form check", input.target.id)
      if (input.target.checked) {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "text") {
      console.debug("input field", input.target.id)
      if (input.target.id === "user_zipcode") {
        if (input.target.value.length === 5 && !isNaN(input.target.value)) {
          inputValid(input, true)
        } else {
          inputValid(input, false)
        }
      } else if (input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "email") {
      if (input.target.id === "user_email") {
        if (validateEmail(input.target.value)) {
          inputValid(input, true)
        } else {
          inputValid(input, false)
        }
        if ($('#user_email_confirmation').val()) {
          validate_input({target: $('#user_email_confirmation')[0]})
        }
      } else if (input.target.id === "user_email_confirmation") {
          if (validateEmail(input.target.value) && input.target.value === $('#user_email').val()) {
            inputValid(input, true)
          } else {
            inputValid(input, false)
          }
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "tel") {
      if (!isNaN(input.target.value) && input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "select-one") {
      if (input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "date") {
      if (event.target.value && event.target.value !== "") {
        console.debug("birthday date field", event.target.value)
        const is_old_enough = age_validation(event.target.value)
        console.debug("is over age", is_old_enough)
        if (!is_old_enough[0]) {
          $('#user_birthday').addClass('is-invalid').removeClass('is-valid')
        } else {
          $('#user_birthday').addClass('is-valid').removeClass('is-invalid')
        }
        if (!is_old_enough[1]) {
          $('#stays_overnight').prop('disabled', true).prop('checked', false)
        } else {
          $('#stays_overnight').prop('disabled', false)
        }
      }
    }
  }

  age_validation = (value) => {
      // javascript dates are broken
      const event = {
        year: parseInt("{{ event.start|date:"Y" }}"),
        month: parseInt("{{ event.start|date:"m" }}") - 1,
        day: parseInt("{{ event.start|date:"d" }}")
      }
      const event_start = new Date(event.year, event.month, event.day)
      const offset_year_16 = new Date(event.year - 16, event.month, event.day)
      const offset_year_18 = new Date(event.year - 18, event.month, event.day)
      const value_arr = value.split("-")
      const int_value_arry = value_arr.map((value) => parseInt(value))
      const date_value = new Date(int_value_arry[0], int_value_arry[1] - 1, int_value_arry[2])
      const over_16 = (offset_year_16.getTime() - date_value.getTime() > 0)
      const over_18 = (offset_year_18.getTime() - date_value.getTime() > 0)
      return [over_16, over_18]
  }

  const validateEmail = (email) => {
    return String(email)
      .toLowerCase()
      .match(
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      )
  }

  const inputValid = (input, is_valid) => {
    if (is_valid) {
      input.target.classList.add('is-valid')
      input.target.classList.remove('is-invalid')
    } else {
      input.target.classList.add('is-invalid')
      input.target.classList.remove('is-valid')
    }
  }

  ajax_success = (data) => {
    console.info(data)
    window.location.href = "{% url "crew_signup_submitted" slug=slug %}"
  }
  ajax_error = (data) => {
    // FIXMIE: needs error handling
    console.error(data)
  }
  ajax_complete = (data) => {
    // hopenfully this is never triggered
    console.info(data)
  }

  const send_form = (fields) => {
    console.debug(fields)
    $.ajax({
      type: "POST",
      url: "{% url "api_crew_signup" slug=slug %}",
      data: JSON.stringify(fields),
      contentType: "application/json",
      headers: {
        "X-CSRFToken": fields[0].value
      },
      dataType: "json",
      success: (data) => ajax_success(data),
      error: (data) => ajax_error(data),
      complete: (data) => ajax_complete(data)
    })
  }

</script>

<h1>Neue Crewanmeldung</h1>
<form id="signup" class="row g-3 needs-validation" novalidate>
  {% csrf_token %}
  <h2>Persönliches</h2>
  <div class="col-md-6">
    <label for="user_first_name">Vorname</label>
    <input type="text" name="user_first_name" class="form-control not-empty" id="user_first_name" placeholder="Jane" autocomplete="given-name" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Vorname darf nicht leer sein.
    </div>
  </div>
  <div class="col-md-6">
    <label for="user_last_name">Nachname</label>
    <input type="text" name="user_last_name" class="form-control not-empty" id="user_last_name" placeholder="Doe" autocomplete="family-name" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Nachname darf nicht leer sein.
    </div>
  </div>
  <div class="col-md-6">
    <label for="user_nick_name">Nickname</label>
    <input type="text" name="user_nick_name" class="form-control" id="user_nick_name" placeholder="Jane" autocomplete="given-name" />
  </div>
  <div class="col-md-6">
    <label for="user_birthday">Geburtstag</label>
    <input type="date" name="user_birthday" class="form-control not-empty" id="user_birthday" placeholder="01.01.1970" autocomplete="bday" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Du musst über 16 Jahre alt sein.
    </div>
  </div>
  <div class="col-md-9">
    <label for="user_address">Straße</label>
    <input type="text" name="user_address" class="form-control not-empty" id="user_address" placeholder="Am Geldspeicher" autocomplete="street-address" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Straße darf nicht leer sein.
    </div>
  </div>
  <div class="col-md-3">
    <label for="user_address_housenumber">Hausnummer</label>
    <input type="text" class="form-control not-empty" name="user_address_housenumber" id="user_address_housenumber" placeholder="23a" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Hausnummer darf nicht leer sein.
    </div>
  </div>
  <div class="col-md-12">
    <label for="user_address_extension">Addresszusatz</label>
    <input type="text" class="form-control" name="user_address_extension" id="user_address_extension" placeholder="Addresszusatz" autocomplete="off" />
  </div>
  <div class="col-md-6">
    <label for="user_zipcode">Postleitzahl</label>
    <input type="text" pattern="[\d+]{5}" name="user_zipcode" id="user_zipcode" class="form-control not-empty" placeholder="10000" maxlength="5" autocomplete="postal-code" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Postleitzahl muss 5 Ziffern lang sein.
    </div>
  </div>
  <div class="col-md-6">
    <label for="user_place">Ort</label>
    <input type="text" class="form-control not-empty" name="user_place" id="user_place" placeholder="Entenhausen" autocomplete="home city"/>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Ort darf nicht leer sein.
    </div>
  </div>
  <h2>Kontakt</h2>
  <div class="col-md-6">
    <label for="user_email">E-Mail Adresse</label>
    <input type="email" name="user_email" id="user_email" class="form-control not-empty" placeholder="jane.doe@example.net" autocomplete="email" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Bitte gibt eine gültige E-Mail Adresse an.
    </div>
  </div>
  <div class="col-md-6">
    <label for="user_email_confirmation">E-Mail Adresse bestätigen</label>
    <input type="email" name="user_email_confirmation" id="user_email_confirmation" class="form-control not-empty" placeholder="jane.doe@example.net" autocomplete="off" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Bitte wiederhole deine E-Mail Adresse.
    </div>
  </div>
  <div class="col-md-12">
    <label for="user_mobile">Handynummer</label>
    <input type="tel" name="user_mobile" id="user_mobile" class="form-control not-empty" placeholder="0555678123" autocomplete="tel" />
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Bitte gibt eine gültige Telefonnummer an.
    </div>
  </div>
  <h2>Essen &amp; T-Shirt</h2>
  <div class="col-md-12">
    <label for="nutriton_type" class="form-label">Essensgewohnheit</label>
    <select id="nutriton_type" name="nutriton_type" class="form-select not-empty">
      <option value="" selected></option>
      <option value="omnivore">Alles-Esser</option>
      <option value="vegetarian">Vegatrisch</option>
      <option value="vegan">Vegan</option>
    </select>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Bitte wähle deine Ernährungsgewohnheit aus.
    </div>
  </div>
  <div class="col-md-12">
    <label for="nutrition_note" class="form-label">Anmerkungen zu Essensgewohnheiten, Unverträglichkeiten, etc.</label>
    <textarea class="form-control" id="nutrition_note" name="nutrition_note" rows="3"></textarea>
  </div>
  <div class="col-md-12">
    <label for="crew_shirt">T-Shirt</label>
    <select id="crew_shirt" name="crew_shirt" class="form-select not-empty">
      <option value="" selected></option>
      {% for shirt in shirts %}
        <option value="{{ shirt.id }}">{{ shirt }}</option>
      {% endfor %}
    </select>
    <div class="valid-feedback">
    </div>
    <div class="invalid-feedback">
      Bitte wähle T-Shirt Größe und Schnitt aus.
    </div>
    <div class="alert alert-info mt-3" role="alert">
      <h4 class="alert-heading">Erklärung Schnitt</h4>
      <hr>
      <ul>
        <li>fitted: figurbetonter Schnitt</li>
        <li>straight: normaler Schnitt</li>
      </ul>
    </div>
  </div>
  <h2>Formale Qualifikationen und Fähigkeiten</h2>
  <div class="col-md-12">
    <label>Welche Qualifikationen und Weiterbildungen hast du?</label>
      {% for skill in skills %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="skill_{{ skill.id }}" name="skill_{{ skill.id }}">
        <label class="form-check-label" for="skill_{{ skill.id }}">
          {{ skill }} - <i>{{ skill.explanation }}</i>
        </label>
      </div>
      {% endfor %}
  </div>
  <div class="col-md-12">
    <label for="skills_note" class="form-label">Anmerkungen zu deinen Fähigkeiten</label>
    <textarea class="form-control" id="skills_note" name="skills_note" rows="3"></textarea>
  </div>
  <h2>Anwesenheit</h2>
  <div class="field">
    <label>An welchen Tagen kannst du vor Ort sein?</label>
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="row g-2">
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="select_all_attendance" type="button" class="btn btn-primary btn-sm">Alle Tage auswählen</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="select_none_attendance" type="button" class="btn btn-primary btn-sm">Alle Tage abwählen</button>
          </div>
        </div>
      </div>
    </div>
    {% for phase in attendance_phases %}
    <h3>{{ phase.name }}</h3>
    <div class="row">
    {% for day in phase.days %}
          <div class="col">
          <input class="form-check-input" type="checkbox" value="" id="attendance_{{ day.id }}" name="attendance_{{ day.id }}">
          <label class="form-check-label" for="attendance_{{ day.id }}">
            {{ day }}
          </label>
          </div>
    {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="col-md-12">
    <label for="skills_note" class="form-label">Anmerkungen zu deiner Anwesenheit</label>
    <textarea class="form-control" id="note_attendance" name="note_attendance" rows="2"></textarea>
  </div>
  <div class="col-md-12">
    <input class="form-check-input" type="checkbox" value="" id="stays_overnight" name="stays_overnight" disabled>
    <label class="form-check-label" for="stays_overnight">Ich übernachte vor Ort.</label>
  </div>
  <div class="col-md-12">
    <input class="form-check-input" type="checkbox" value="" id="leave_of_absence" name="leave_of_absence">
    <label class="form-check-label" for="leave_of_absence">Ich brauche eine Befreiung von Schule, Universität oder ähnlichem.</label>
  </div>
  <div class="col-md-12">
    <label for="leave_of_absence_note" class="form-label">Anmerkungen zu meiner Befreiung</label>
    <textarea class="form-control" id="leave_of_absence_note" name="leave_of_absence_note" rows="2" disabled></textarea>
  </div>
  <h2>Tätigkeiten</h2>
  <label>Für welche Teams interessierst du dich?</label>
  <div class="row row-cols-1 row-cols-md-3 g-4 pb-3">
    {% for team in teams %}
    <div class="col">
      <div class="card h-100">
        {% if not team.image %}
          <img class="card-img-top img-fluid" src="{% static "assets/4_3_placeholder.png" %}" style="height: 300px !important; width: auto !important">
        {% else %}
          <img class="card-img-top img-fluid" src="{{ team.image.url }}" style="height: 300px !important; width: auto !important">
        {% endif %}
        <div class="card-header">
          {{ team.lead|default_if_none:"Kein Gewerkeleiter" }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ team }}</h5>
          <p class="card-text">{{ team.description }}</p>
        </div>
        <div class="card-footer">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="team_{{ team.id }}" name="team_{{ team.id }}">
            <label class="form-check-label" for="team_{{ team.id }}">Interesse</label>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Verschiedenes</h2>
  <div class="col-md-12">
    <label for="general_note" class="form-label">Möchtest du uns noch etwas mitteilen?</label>
    <textarea class="form-control" id="general_note" name="general_note" rows="3"></textarea>
  </div>
  {% include "snippets/rechtliches.html" %}
  <div class="d-grid gap-2 col-12 mx-auto pt-3">
    <div class="row g-2">
      <div class="col">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button id="form_submit" type="button" class="btn btn-primary">Absenden</button>
        </div>
      </div>
      <div class="col">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button id="form_reset" type="button" class="btn btn-secondary">Neustart</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
