{% extends "base.html" %} {% block content %}{% load static %}

<script language="javascript">
  $(document).ready(() => {
    $('[name^=assetrequired_],[name^=attendance_]').on('change', event => {
      event.preventDefault()
      console.debug("toggle", event.target.dataset.id)
      const el = $(`#${event.target.dataset.toggle}${event.target.dataset.id}`)
      if (event.target.checked) {
        $(el).prop('disabled', false)
      } else {
        $(el).prop('disabled', true)
        $(el).val("")
        $(el).removeClass('is-valid is-invalid')
      }
      if (!$(':checkbox[name^=attendance_]:checked').length > 0) {
        $('#form_submit').prop('disabled', true)
      } else {
        $('#form_submit').prop('disabled', false)
      }
    })

    $('#form_reset').click((event) => {
      event.preventDefault()
      $("#signup").trigger("reset")
      $('#signup :input').val('')
      $(".not-empty").removeClass('is-valid is-invalid')
      $('[name^=assetcount_],[name^=attendancecount_]').prop('disabled', true)
      $('#form_message').html("")
    })

    $('#form_submit').on('click', (event) => {
      event.preventDefault()
      console.debug("submit")
      const form = $('#signup')
      var validated = false
      el = form.find('.not-empty')
      console.debug("not-empty elements", el)
      for (const input of el) {
        if (!input.disabled) {
          validate_input({target: input})
          if (input.classList.contains('is-invalid')) {
            validated = false
            render_error_message()
            break
          } else {
            render_error_message()
            validated = true
          }
        }
      }
      console.debug("validated", validated)
      const form_data = form.serializeArray()
      console.debug("form data", form_data)
      if (validated) {
        send_form(form_data)
      }
    })

    $('.not-empty').on('blur', event => {
      console.debug("not-empty handler triggered", event)
      validate_input(event)
      render_error_message()
    })
  })

  validate_input = (input) => {
    if (input.target.type === "checkbox") {
      console.debug("form check", input.target.id)
      if (input.target.checked) {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "text" && input.target.disabled === false) {
      console.debug("input field", input.target.id)
      if (input.target.id === "organisation_zip") {
        if (input.target.value.length === 5 && !isNaN(input.target.value)) {
          inputValid(input, true)
        } else {
          inputValid(input, false)
        }
      } else if (input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "email") {
      if (input.target.id === "user_email") {
        if (validateEmail(input.target.value)) {
          inputValid(input, true)
        } else {
          inputValid(input, false)
        }
        if ($('#user_email_confirmation').val()) {
          validate_input({target: $('#user_email_confirmation')[0]})
        }
      } else if (input.target.id === "user_email_confirmation") {
          if (validateEmail(input.target.value) && input.target.value === $('#user_email').val()) {
            inputValid(input, true)
          } else {
            inputValid(input, false)
          }
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "tel") {
      if (!isNaN(input.target.value) && input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type === "select-one") {
      if (input.target.value !== "") {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else if (input.target.type == "number") {
      if (input.target.value !== "" && !isNaN(input.target.value)) {
        inputValid(input, true)
      } else {
        inputValid(input, false)
      }
    } else {
      inputValid(input, false)
    }
  }

  const validateEmail = (email) => {
    return String(email)
      .toLowerCase()
      .match(
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      )
  }

  const inputValid = (input, is_valid) => {
    if (is_valid) {
      input.target.classList.add('is-valid')
      input.target.classList.remove('is-invalid')
    } else {
      input.target.classList.add('is-invalid')
      input.target.classList.remove('is-valid')
    }
  }

  const render_error_message = (message) => {
    el = $('.not-empty')
    for (const input of el) {
      if (input.classList.contains('is-invalid')) {
        $('#form_message').html('<div class="alert alert-danger" role="alert">Bitte korrigiere die Fehler in den markierten Feldern.</div>')
        break
      } else {
        $('#form_message').html("")
      }
    }
  }

  ajax_success = (data) => {
    console.info(data)
    window.location.href = "{% url "crew_signup_submitted" slug=slug %}"
  }
  ajax_error = (data) => {
    // FIXME: needs error handling
    console.error(data)
  }
  ajax_complete = (data) => {
    // hopefully this is never triggered
    console.info(data)
  }

  const send_form = (fields) => {
    console.debug(fields)
    $.ajax({
      type: "POST",
      url: "{% url "api_exhibitor_signup" slug=slug %}",
      data: JSON.stringify(fields),
      contentType: "application/json",
      headers: {
        "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val(),
      },
      mode: "same-origin",
      dataType: "json",
      success: (data) => ajax_success(data),
      error: (data) => ajax_error(data),
      complete: (data) => ajax_complete(data)
    })
  }

</script>

<h1>Teilnehmeranmeldung - {{ event.name }}</h1>
<div class="row" style="height: 33vh; background-image: url({{ event.get_image_url }}); background-size: cover; background-position: center center; background-repeat: no-repeat">
</div>

<form id="signup" class="row align-items-center needs-validation" novalidate>
  {% csrf_token %}



  <section class="row p-4 form-section">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
          <div><h3>Organisation</h3></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 g-4">
          <label for="organisation_name">Organisation</label>
          <input type="text" class="form-control not-empty" name="organisation_name" id="organisation_name" placeholder="Organisation" autocomplete="off" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Organisationsname darf nicht leer sein.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 g-4">
          <label for="organisation_address">Straße</label>
          <input type="text" name="organisation_address" class="form-control not-empty" id="organisation_address" placeholder="Am Geldspeicher" autocomplete="street-address" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Straße darf nicht leer sein.
          </div>
        </div>
        <div class="col-sm-3 g-4">
          <label for="organisation_address_housenumber">Hausnummer</label>
          <input type="text" class="form-control not-empty" name="organisation_address_housenumber" id="organisation_address_housenumber" placeholder="23a" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Hausnummer darf nicht leer sein.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 g-4">
          <label for="organisation_address_extension">Addresszusatz</label>
          <input type="text" class="form-control" name="organisation_address_extension" id="organisation_address_extension" placeholder="Addresszusatz" autocomplete="off" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 g-4">
          <label for="organisation_zip">Postleitzahl</label>
          <input type="text" pattern="[0-9]{5}" inputmode="numeric" name="organisation_zip" id="organisation_zip" class="form-control not-empty" placeholder="10000" maxlength="5" autocomplete="postal-code" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Postleitzahl muss 5 Ziffern lang sein .
          </div>
        </div>
        <div class="col-sm-9 g-4">
          <label for="organisation_place">Ort</label>
          <input type="text" class="form-control not-empty" name="organisation_place" id="user_place" placeholder="Entenhausen" autocomplete="home city"/>
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Ort darf nicht leer sein.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div><h4>Warum erheben wir diese Informationen?</h4></div>
      <p>
        Für die Organisation der Veranstaltung ist es wichtig, dass wir wissen, wer an der Veranstaltung teilnimmt. Wir benötigen diese Informationen, um die Teilnehmerliste zu erstellen und die Teilnehmer zu kontaktieren. Zu dem Versenden wir evenutell Informationen über die Veranstaltung an die angegebene Adresse.
      </p>
    </div>
  </section>



  <section class="row p-4 form-section">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
          <div><h3>Kontakt</h3></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 g-4">
          <label for="user_first_name">Vorname</label>
          <input type="text" name="user_first_name" class="form-control not-empty" id="user_first_name" placeholder="Jane" autocomplete="given-name" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Vorname darf nicht leer sein.
          </div>
        </div>
        <div class="col-md-6 g-4">
          <label for="user_last_name">Nachname</label>
          <input type="text" name="user_last_name" class="form-control not-empty" id="user_last_name" placeholder="Doe" autocomplete="family-name" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Nachname darf nicht leer sein.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 g-4">
          <label for="user_email">E-Mail Adresse</label>
          <input type="email" name="user_email" id="user_email" class="form-control not-empty" placeholder="jane.doe@example.net" autocomplete="email" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Bitte gibt eine gültige E-Mail Adresse an.
          </div>
        </div>
        <div class="col-sm-6 g-4">
          <label for="user_email_confirmation">E-Mail Adresse bestätigen</label>
          <input type="email" name="user_email_confirmation" id="user_email_confirmation" class="form-control not-empty" placeholder="jane.doe@example.net" autocomplete="off" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Bitte wiederhole deine E-Mail Adresse.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 g-4">
          <label for="user_phone">Telefonnummer</label>
          <input type="tel" name="user_phone" id="user_phone" class="form-control not-empty" placeholder="017604069042" autocomplete="tel" />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Bitte gibt eine gültige Telefonnummer an.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div><h4>Warum erheben wir diese Informationen?</h4></div>
      <p>
        Für Rückfragen und Abstimmungen ist es uns wichtig, eine direkte Ansprechperson zu haben. Wir benötigen diese Informationen, um dich bei Fragen zu kontaktieren.
      </p>
    </div>
  </section>



  <section class="row p-4 form-section">
    <div><h3>Anwesenheit</h3></div>

    <div class="row">
      <div class="col-sm-12 g-4">
        <label>An welchen Tagen wollt ihr teilnehmen?</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 g-4">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-dark table-responsive">
              <thead>
                <tr>
                  <th scope="col">Tag</th>
                  <th scope="col">Teilnahme</th>
                  <th scope="col">Anzahl Personen</th>
                </tr>
              </thead>
              <tbody>
                {% for day in attendances %}
                <tr>
                  <th scope="row" class="date-format-huge">{{ day }}</th>
                  <td><input class="form-check-input" type="checkbox" id="attendance_{{ day.id }}" name="attendance_{{ day.id }}" data-toggle="attendancecount_" data-id="{{ day.id }}"></td>
                  <td>
                    <input type="number" inputmode="numeric" name="attendancecount_{{ day.id }}" class="form-control not-empty" id="attendancecount_{{ day.id }}" placeholder="Anzahl Personen" min="1" autocomplete="off" disabled />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                      Personenanzahl darf nicht leer sein.
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="row p-4 form-section">
    <div><h3>Infrastruktur</h3></div>

    <div class="row">
      <div class="col-sm-12 g-4">
        <label>Was benötigt ihr vor Ort?</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 g-4">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-dark table-striped table-responsive">
              <thead>
                <tr>
                  <th scope="col">Was</th>
                  <th scope="col">Benötigt</th>
                  <th scope="col">ggf. Menge</th>
                </tr>
              </thead>
              <tbody>
                {% for asset in assets %}
                <tr>
                  <th scope="row">{{ asset }}<br /><small>{{asset.description }}</small></th>
                  <td><input class="form-check-input" type="checkbox" id="assetrequired_{{ asset.id }}" name="assetrequired_{{ asset.id }}" data-toggle="assetcount_" data-id="{{ asset.id }}"></td>
                  <td>
                    {% if not asset.is_bool %}
                    <input type="number" inputmode="numeric" name="assetcount_{{ asset.id }}" class="form-control not-empty" id="assetcount_{{ asset.id }}" placeholder="Anzahl" min="1" autocomplete="off" disabled />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                      Menge darf nicht leer sein.
                    </div>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="row p-4 form-section">
    <div><h3>Verschiedenes</h3></div>
    <div class="col-sm-12">
      <p>Das Spielfest findet an allen Tagen von <strong>12.00 bis 18.00 Uhr</strong> statt. Um 16.00 Uhr beginnt an beiden Tagen der Rocktreff und
      läuft parallel.
      <p>Aufbauzeiten an beiden Tagen von 10.00 bis 11.30 Uhr. Nach 11.30 Uhr dürfen keine Fahrzeuge mehr zum
      Entladen ins Stadion fahren.
      Abbau an beiden Tagen ab 18.00 Uhr. Es dürfen jedoch keine Fahrzeuge auf das Gelände fahren, da der Rocktreff noch läuft.
      Transport in Bollerwagen ist möglich.</p>
      <p>Ihr erhaltet von uns eine Zufahrtsberechtigung für das Stadion. Am Andlauer Weg sind Flächen zum Be- und Entladen reserviert. Ein Anspruch auf einen Parkplatz besteht aus Mangel an genügend Plätzen nicht.
        Alle Spielfest-Helfer:innen erhalten einen Backstage-Pass, mit dem sie den Backstagebereich für eine Pause nutzen können.
        Getränke und Speisen stehen begrenzt zur Verfügung. Der Backstage-Bereich ist für die Spielfest-Helfer:innen von 12.00 bis 20.00 Uhr zugänglich.</p>
      <p><strong>Als Standbetreiber erklärt ihr euch mit eurer Teilnahme damit einverstanden, dass auf dem Gelände Foto- und Videoaufnahmen
      gemacht werden, die ggf. veröffentlicht werden und/oder zu Marketing-Zwecken verwendet werden.</strong></p>
    </div>
    <div class="col-sm-12">
      <label for="general_note" class="form-label">Was möchtet ihr auf dem Spielfest anbieten? Gebt bitte einen groben Flächenbedarf an. Möchtet ihr uns noch etwas mitteilen?</label>
      <textarea class="form-control" id="general_note" name="general_note" rows="3"></textarea>
    </div>
  </section>



  <section class="row p-4 form-section">
    <div><h3>Rechtliches</h3></div>
    <div class="col-md-12">
      <div class="form-check form-switch">
        <input class="form-check-input not-empty" type="checkbox" role="switch" id="allow_contact" name="allow_contact">
        <label class="form-check-label" for="allow_contact">
          Ich bin damit einverstanden, dass der CPYE e.V. mich für Dinge rund um den Rocktreff und das Spielfest kontaktieren darf.
        </label>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">
          Bitte erlaube uns, dich zu kontaktieren.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-check form-switch">
        <input class="form-check-input not-empty" type="checkbox" role="switch" id="read_privacy" name="read_privacy">
        <label class="form-check-label" for="read_privacy">
          Ich habe die <a href="{% url "rockon_privacy" %}" target="_blank">Datenschutzbestimmungen</a> zur Kenntnis genommen
          und erkläre mich mit der Speicherung und Verarbeitung personenbezogener Daten im Rahmen der Veranstaltungen Rocktreff
          und Spielfest einverstanden.
        </label>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">
          Bitte bestätige, dass du die Datenschutzbestimmungen gelesen hast.
        </div>
      </div>
    </div>
  </section>



  <section class="row p-4 form-section">
    <div class="d-grid gap-2 col-12 mx-auto pt-3">
      <div class="row g-2">
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="form_submit" type="button" class="btn btn-primary" disabled>Absenden</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2 col-12 mx-auto">
            <button id="form_reset" type="button" class="btn btn-secondary">Neustart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-12 mx-auto pt-3">
      <div class="row g-2">
        <div class="col">
          <div id="form_message"></div>
        </div>
      </div>
    </div>
  </section>

</form>

{% endblock content %}
