{% extends "base.html" %} {% block content %} {% load static %}



<div class="row pb-5">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-4 g-2">
      <img src="{% static "assets/racoon.svg" %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <p>
        Hi, ich bin Rockon und ich helfe beim Organisieren und Verwalten
        von <a href="https://rocktreff.de" target="_blank">Rocktreff</a> und
        <a href="https://spielfest-mariendorf.de/" target="_blank">Spielfest Mariendorf</a>
      </p>
    </div>
  </div>
</div>

{% if events %}
<div class="row">
  <h3>Aktuelle Veranstaltungen</h3>
</div>
<div class="row align-items-center row-cols-1 row-cols-md-12 pb-3">
    {% for event in events %}
    <div class="col pb-5">
      <div class="card mb-12">
        <div class="row g-0">
          <div class="col-md-4" style="background-image: url({% if event.image %}{{ event.image.url }}{% else %}{% static "assets/4_3_placeholder.png" %}{% endif %}); background-size: cover; background-position: center center; background-repeat: no-repeat">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ event }}</h5>
              <p class="card-text">{{ event.description }}</p>
              <p class="card-text">
                <h4>Wo</h4>
                <p>{{ event.location }}</p>
                <h4>Wann</h4>
                <p>{{ event.opening|date:"d.m." }} - {{ event.closing|date:"d.m.Y" }}</p>
                <h4>Mitmachen</h4>
                <p><a href="{% url 'crew_root' slug=event.slug %}">Zur Crew-Anmeldung!</a></p>
              </p>
              <p class="card-text text-end"><small class="text-muted">Letzte Änderung: {{ event.updated_at|date:"d.m.Y"}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}








{% endblock content %}
