{% extends 'base.html' %} {% block content %}
  {% load static %}
  <h1><span id="band_title">{{band.name|default:"Deine Band Bewerbung"}}</span> // {{ event.name }}</h1>
  <div class="row" style="height: 33vh; background-image: url({{ event.get_image_url }}); background-size: cover; background-position: center center; background-repeat: no-repeat"></div>

  <script>
    window.rockon_data = {
      band_id: "{{band.id}}",
      api_url_band_details: "{% url "bands-detail" pk=band.id %}",
      api_url_new_media: "{% url "band-media-list" %}",
    }
  </script>
  <script src="{% static 'js/bandbewerbung-form.js' %}"></script>
  <form id="application" class="row align-items-center needs-validation" novalidate onsubmit="send_form(); return false;">
    {% csrf_token %}

    <section class="row p-4 form-section">
      <div>
        <h3>Band</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div>
            <h4>Allgemeines</h4>
          </div>
          <div>
            <label for="name">Bandname</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Bandname" value="{{band.name|default:""}}" />
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="are_students" name="are_students" {% if band.are_students %} checked {% endif %}/>
            <label class="form-check-label" for="are_students">Wir sind eine Schülerband</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="has_management" name="has_management" {% if band.has_management %} checked {% endif %}/>
            <label class="form-check-label" for="has_management">Wir haben ein Mangement</label>
          </div>
          <div>
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre" value="{{band.genre|default:""}}" />
          </div>
          <div>
            <label for="band_region">Bundesland</label>
            <select class="form-select" aria-label="Bundesland" id="federal_state" name="federal_state">
              {% for federal_state in federal_states %}
              <option value="{{federal_state.0}}" {% if band.federal_state == federal_state.0%} selected {% endif %}>{{federal_state.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <h4>Website</h4>
          </div>
          <p>Ihr habt eine Seite im Netz? Wir wollen sie sehen! Alternativ reicht uns Euer Facebook-Profil. (Adressen immer mit https:// vorne!)</p>
          <div>
            <label for="homepage">Homepage</label>
            <input type="url" class="form-control" id="homepage" name="homepage" placeholder="https://example.net" value="{{band.homepage|default:""}}" />
          </div>
          <div>
            <label for="facebook">Facebook</label>
            <input type="url" class="form-control" id="facebook" name="facebook" placeholder="https://www.facebook.com/" value="{{band.facebook|default:""}}" />
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <h4>Warum ihr?</h4>
          </div>
          <div>
            <textarea class="form-control" id="cover_letter" name="cover_letter" rows="6">{{band.cover_letter|default:""}}</textarea>
          </div>
        </div>
      </div>
    </section>

    <section class="row p-4 form-section">
      <div>
        <h3>Dokumente</h3>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <p>Wir brauchen von Euch eine aussagekräftige Bandinfo. Diese enthält Angaben zur Geschichte der Band. Desweiteren könnt Ihr hier Stage- und auch Techrider hochladen. Letztere sind nicht notwendig für eine vollständige Bewerbung - machen uns aber viel Freude.</p>
          <div class="row">
            <div class="col">
              <div class="form-control">
                <span id="document_counter">{{media_by_type.document|length}}</span>/1 Dokumente
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="col">
              <input type="file" id="selectedFileDocument" style="display: none;" />
              <button type="button" id="selectNewDocument" class="btn btn-primary" />Neues Dokument</button>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="overflow">
            <ul id="document_list" class="list-unstyled">
              {% for document in media_by_type.document %}
                <li id="document-{{document.id}}">
                <i class="fa fa-file"></i>
                <a href="{{document.file.url}}" target="_blank">{{document.file_name_original}}</a>
                <span class="btn btn-default btn-xs" data-remove-document="{{document.id}}"><i class="fa fa-trash"></i></span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="row p-4 form-section">
      <div>
        <h3>Medien</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div>
            <h4>Bilder</h4>
          </div>
          <p>Wir brauchen ein aussagekräftiges Pressefoto von Euch. Dieses wird ggf. später veröffentlicht. Daher sollte das Bild eine Breite oder Höhe von mehr als 1200 Pixeln haben.</p>
          <p>Ihr könnt auch gerne Euer Bandlogo hochladen. Dies ist aber nicht notwendig für die Bewerbung.</p>
        </div>
        <div class="col-lg-4">
          <div>
            <h4>Pressefoto</h4>
          </div>
          <img id="bandPressPhoto" src="{% static 'assets/1_1-placeholder.png' as placeholder_image %}{{ media_by_type.press_photo.last.file.url|default:placeholder_image }}" class="img-fluid" />
          <input type="file" id="fileInputBandPressPhoto" style="display: none;" />
        </div>
        <div class="col-lg-4">
          <div>
            <h4>Bandlogo</h4>
          </div>
          <img id="bandLogo" src="{% static 'assets/1_1-placeholder.png' as placeholder_image %}{{ media_by_type.logo.last.file.url|default:placeholder_image }}" class="img-fluid" />
          <input type="file" id="fileInputBandLogo" style="display: none;" />
        </div>
      </div>
    </section>

    <section class="row p-4 form-section">
      <div class="row">
        <div class="col-lg-4">
          <div>
            <h4>Musik</h4>
          </div>
          <p>Welche drei Eurer Songs beschreiben Eure Musik am besten? Uns ist es dabei egal ob die Aufnahmen aus Eurem Proberaum, dem Studio, oder von der Bühne sind.</p>
          <div class="row">
            <div class="col">
              <div class="form-control">
                <span id="audio_counter">{{media_by_type.audio|length}}</span>/3 Songs
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="col">
              <input type="file" id="selectedSong" style="display: none;" />
              <button type="button" id="selectNewSong" class="btn btn-primary" />Neuer Song</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="overflow">
            <ul id="song_list" class="list-unstyled">
              {% for song in media_by_type.audio %}
                <li id="song-{{song.id}}">
                <i class="fa fa-file"></i>
                <a class="play-audio" href="{{song.file.url}}" target="_blank">{{song.file_name_original}}</a>
                <span class="btn btn-default btn-xs" data-remove-song="{{song.id}}"><i class="fa fa-trash"></i></span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <h4>Videos</h4>
          </div>
          <p>Habt Ihr Videos online, die Ihr uns zeigen wollt? Dann fügt sie hier hinzu.</p>
          <ul id="url_list" class="list-unstyled links">
            {% for url in media_by_type.link %}
              <li id="url-{{url.id}}">
                <i class="fa-brands fa-youtube"></i>
                <a href="{{url.url}}" target="_blank">{{url.url}}</a>
                <span class="btn btn-default btn-xs" data-remove-url="{{url.id}}"><i class="fa fa-trash"></i></span>
              </li>
            {% endfor %}
          </ul>
          <div>
            <input type="url" class="form-control" id="url_input" name="url_input" placeholder="https://example.net" value="" />
            <button type="button" id="add_url" class="btn btn-primary mt-2" disabled>
              <i class="fas fa-save"></i> Hinzufügen
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="row p-4 form-section">
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <div>
          <button id="save_form" type="button" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Speichern
          </button>
        </div>
        <div>
          <small>zuletzt gespeicht: {{band.updated_at|date:"H:i, d.m.Y"}}</small>
        </div>
    </section>
  </form>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastAudioPlayer" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto"><i class="fas fa-music"></i> Audioplayer</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div id="player-toast-body" class="toast-body">
        <p id="player-filename">Current playing</p>
        <div id="player-wrapper"></div>
      </div>
    </div>
  </div>
{% endblock %}
