{% extends "base.html" %}
{% block content %}
{% load static %}
{% load compress %}
{% csrf_token %}
<h1>Bandbewertung</h1>

{% compress js file vue %}
<script src="{% static 'vendor/vue.global.3.3.9.js' %}"></script>
{% endcompress %}

{% compress js file wavesurfer %}
<script src="{% static "vendor/7.5.0.wavesurfer.min.js" %}"></script>
{% endcompress %}

<script>
  window.rockon_data = {
    media_url: "{{ media_url }}",
    bands: {{ bands }},
    tracks: {{ tracks }},
    media: {{ media }},
    media_type_map: {{ media_type_map }},
    federal_states: {{ federal_states }},
    selectedTrackId: {{ trackid }},
    selectedBand: {{ bandid }},
  }
  window.rockon_api = {
    update_band: "{% url "bands-detail" pk="pk_placeholder" %}"
  }
</script>

{% verbatim %}
<div id="app">
  <track-list :tracks="tracks" :selected-track="selectedTrack" :show-band-no-name="showBandNoName" @select-track="selectTrack" @filter-no-name="handleFilterShowBandNoNameChange"></track-list>
  <band-list v-if="!selectedBand" :bands="bands" :selected-track="selectedTrack" :show-band-no-name="showBandNoName" @select-band="selectBand"></band-list>
  <band-details v-if="selectedBand" :selected-band="selectedBand" :tracks="tracks" :media="media" :media-url="mediaUrl" :federal-states="federalStates" @update:track="updateTrack" @update:select-song="handleSongSelect" ></band-details>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastAudioPlayer" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto"><i class="fas fa-music"></i> Rockify</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @click="handleCloseClick"></button>
      </div>
      <div id="player-toast-body" class="toast-body">
        <song-info v-if="playSong" :song="playSong" :band="playSongBand"></song-info>
        <div id="player-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<style scoped>
  .highlight {
    color: #fff300;
  }
</style>

{% compress js file voting %}
<script src="{% static 'js/voting.js' %}"></script>
{% endcompress %}

{% endblock content %}
