{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-md-center align-items-center">
            <div class="col">
                <div><h3>Bewerbungsphase abgeschlossen</h3></div>
                <p>
                    Die Bewerbungsphase für den {{ event.name }} ist abgeschlossen. Wir haben viele Bewerbungen erhalten
                    und sind gerade dabei, diese zu sichten.
                </p>
                <p>
                    Fragen? <a href="mailto:crew@rocktreff.de">booking@rocktreff.de</a>
                </p>
            </div>
        </div>
    </div>




{% endblock content %}
