{% extends "base.html" %}
{% block content %}
{% load static %}
{% load compress %}
{% csrf_token %}
<h1>Bandbewertung</h1>

{% compress js file vue %}
<script src="{% static 'vendor/vue.global.3.3.9.js' %}"></script>
{% endcompress %}

{% compress js file wavesurfer %}
<script src="{% static "vendor/wavesurfer.7.5.0.min.js" %}"></script>
{% endcompress %}

{% compress js file simplelightbox %}
<script src="{% static "vendor/simple-lightbox.2.13.0.min.js" %}"></script>
{% endcompress %}

{% compress css file simplelightbox %}
<link rel="stylesheet" type="text/css" href="{% static "vendor/simple-lightbox.2.13.0.min.css" %}">
{% endcompress %}

<script>
  window.rockon_data = {
    event_slug: "{{ event_slug }}",
    tracks: {{ tracks }},
    federal_states: {{ federal_states }},
    selectedTrackId: {{ trackid }},
    selectedBand: {{ bandid }},
    user_votes: {{ user_votes }},
    placeholder: "{% static 'assets/4_3_placeholder.webp' %}"
  }
  window.rockon_api = {
    list_bands: "{% url "bands-list" %}",
    update_band: "{% url "bands-detail" pk="pk_placeholder" %}",
    fetch_rating: "{% url 'band-votes-detail' pk='pk_placeholder' %}",
    band_vote: "{% url 'band-votes-perform-create' %}",
    allow_changes: {{ allow_changes }}
  }
</script>

{% verbatim %}
<div id="app">
  <track-list :tracks="tracks" :selected-track="selectedTrack" :show-band-no-name="showBandNoName" :show-incomplete-bids="showIncompleteBids" @select-track="selectTrack" @filter-no-name="handleFilterShowBandNoNameChange" @filter-incomplete-bids="handleFilterIncompleteBidsChange"></track-list>
  <loading-spinner v-if="!bandListLoaded" :bands-to-fetch="bandsToFetch" :bands="bands"></loading-spinner>
  <band-list v-if="bandListLoaded && !selectedBand" :bands="bands" :selected-track="selectedTrack" :show-band-no-name="showBandNoName" :show-incomplete-bids="showIncompleteBids" @select-band="selectBand" :federal-states="federalStates" :user-votes="userVotes"></band-list>
  <band-details v-if="bandDetailLoaded && selectedBandDetails" :selected-band-details="selectedBandDetails" :allow-changes="allowChanges" :tracks="tracks" :federal-states="federalStates" @update:track="updateTrack" @update:select-song="handleSongSelect" @update:rating="setRating" ></band-details>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastAudioPlayer" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto"><i class="fas fa-music"></i> Rockify</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @click="handleCloseClick"></button>
        </div>
        <div id="player-toast-body" class="toast-body">
            <song-info v-if="playSong" :song="playSong" :band="playSongBand"></song-info>
            <div id="player-wrapper"></div>
        </div>
    </div>
  </div>
</div>
{% endverbatim %}

<style scoped>
  .highlight {
    color: #fff300;
  }
</style>

{% compress js file voting %}
<script src="{% static 'js/voting.js' %}"></script>
{% endcompress %}

{% endblock content %}
