{% extends "base.html" %} {% block content %} {% load static %}



    <div class="row pb-5">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-4 g-2">
                <img src="{% static "assets/racoon.svg" %}" class="img-fluid">
            </div>
            <div class="col-md-4">
                <p>
                    Hi, ich bin Rockon und ich helfe beim Organisieren und Verwalten
                    von <a href="https://rocktreff.de" target="_blank">Rocktreff</a> und
                    <a href="https://spielfest-mariendorf.de/" target="_blank">Spielfest Mariendorf</a>
                </p>
            </div>
        </div>
    </div>

    {% if events %}
        {% include "rockon/current_events.html" %}
    {% endif %}








{% endblock content %}
