{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div><h3>Datenschutzinformation nach Art. 13, 14 DS-GVO</h3></div>
                <div><h4>1. Name und Kontaktdaten des Verantwortlichen</h4></div>
                <p>Verantwortlich ist:
                <dl>
                    <dd>CPYE Komitee zur Förderung von Jugendaustauschprojekten e.V. Colditzstr. 1</dd>
                    <dd>12099 Berlin</dd>
                    <dd>Telefon: 030 62930945</dd>
                    <dd>E-Mail: <a href="mailto:kontakt@cpye.de">kontakt@cpye.de</a></dd>
                    <dd>Internet-Adresse: <a href="https://www.cpye.de/">cpye.de</a></dd>
                    <dd>- nachfolgend CPYE genannt -</dd>
                </dl>
                </p>
                <div><h4>2. Herkunft der personenbezogenen Daten</h4></div>
                <p>Der CPYE erhebt personenbezogene Daten, die im Rahmen (des Erwerbs) einer Mitgliedschaft oder der
                    Durchführung von Projekten des Vereins direkt bei Ihnen erhoben werden.</p>
                <div><h4>3. Kategorien der personenbezogenen Daten</h4></div>
                <p>
                <ul>
                    <li>Mitgliederdaten</li>
                    <li>Beitragsdaten</li>
                    <li>Projektteilnehmerdaten</li>
                    <li>Spendendaten</li>
                    <li>Lieferanten- und Dienstleisterdaten</li>
                </ul>
                </p>

                <div><h4>4. Zwecke und Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h4></div>
                <div><h5>Erfüllung eines Vertrages:</h5></div>
                <p>Der CPYE verarbeitet personenbezogene Daten zum Zwecke der Mitglieder- und Beitragsverwaltung, sowie
                    der Projektdurchführung, auf Grundlage des Art. 6 Abs. 1 S. 1 lit. b) DS-GVO. Die Verarbeitung dient
                    der Begründung oder Durchführung des Vereinsverhältnisses, welches in der Satzung näher beschrieben
                    ist, sowie aller mit der Verwaltung und der Ausübung des Vereins erforderlicher Tätigkeiten. Die
                    jeweiligen Einzelheiten zum Zweck der Datenverarbeitung können Sie der Satzung entnehmen.</p>
                <div><h5>Wahrung berechtigter Interessen des Vereins:</h5></div>
                <p>Über die eigentliche Begründung des Vereinsverhältnisses hinaus verarbeitet der CPYE personenbezogene
                    Daten nach Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Dies ist zulässig, soweit die Verarbeitung zur Wahrung
                    unserer berechtigten Interessen oder der eines Dritten erforderlich ist, sofern nicht Ihre
                    Interessen oder Grundrechte und Grundfreiheiten Überwiegen, die den Schutz personenbezogener Daten
                    erfordern, wie beispielsweise in folgenden Fällen:</p>
                <p>Die Veröffentlichung personenbezogener Daten im Internet oder in lokalen, regionalen oder
                    überregionalen Medien, sowie von Foto- und Videoaufnahmen im Rahmen der Teilnahme an Projekten des
                    Vereins. Das berechtigte Interesse des Vereins besteht in der Information der Öffentlichkeit durch
                    Berichtserstattung über die Aktivitäten des Vereins.</p>
                <ul>
                    <li>Geltendmachung rechtlicher Ansprüche und Verteidigung bei rechtlichen Streitigkeiten</li>
                    <li>Zum Zwecke der Eigenwerbung und der Erleichterung der Kommunikation zwischen den Mitgliedern und
                        dem Verein werden E-Mails an die Mitglieder und Projektteilnehmer versendet.
                    </li>
                </ul>
                <div><h5>Freiwillige Einwilligung:</h5></div>
                <p>Soweit Sie dem CPYE eine Einwilligung zur Verarbeitung Ihrer personenbezogenen Daten für bestimmte
                    Zwecke erteilt haben nach Art. 6 Abs. 1 S. 1 lit. a) DS-GVO, ist die Rechtmäßigkeit dieser
                    Verarbeitung auf Basis Ihrer Einwilligung gegeben. Eine erteilte Einwilligung kann jederzeit
                    widerrufen werden. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen,
                    die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.</p>
                <div><h5>Gesetzliche Verpflichtungen:</h5></div>
                <p>Außerdem verarbeitet der CPYE nach Art. 6 Abs. 1 S. 1 lit. c) DS-GVO personenbezogene Daten, soweit
                    dies für die Erfüllung gesetzlicher Verpflichtungen, denen er als Verein unterliegt, erforderlich
                    ist. Zu den Zwecken der Verarbeitung gehören u.a. die Verarbeitung der Daten zur Einhaltung
                    steuerlicher Verpflichtungen gegenüber den Finanzbehörden.</p>
                <div><h4>5. Empfänger der Daten oder Kategorien der Empfänger</h4></div>
                <p>Zur Verwaltung der Vereinstätigkeiten bzw. Durchführung des Mitgliedschaftsverhältnisses haben der
                    Vorstand und der Verwaltungsrat Zugriff auf personenbezogene Daten.</p>
                <p>Innerhalb des CPYE erhalten diejenigen Stellen projektbezogen Zugriff auf personenbezogene Daten, die
                    diese zur Erfüllung der satzungsgemäßen und gesetzlichen Pflichten des CPYE benötigen.</p>
                <p>Auch von dem CPYE eingesetzte Auftragsverarbeiter (Art. 28 DS-GVO) können zu diesen Zwecken Daten
                    erhalten. Dies sind folgende Unternehmen:
                <ul>
                    <li>Hetzner Online GmbH</li>
                    <li>domainfactory GmbH</li>
                    <li>uSystems GmbH</li>
                </ul>
                </p>

                <p>Zur Durchführung von satzungsgemäßen Projekten des CPYE, können freie und öffentliche Träger der
                    Jugendhilfe, sowie Versicherungen Zugriff auf personenbezogene Daten bekommen.</p>
                <div><h4>6. Dauer der Speicherung und Kriterien für die Festlegung der Speicherdauer</h4></div>
                <p>Soweit erforderlich, verarbeitet und speichert der CPYE personenbezogene Daten für die Dauer der
                    Vereinsmitgliedschaft. Dies kann auch die Anbahnung und die Abwicklung des Vereinsverhältnisses
                    umfassen.</p>
                <p>Projektteilnehmerdaten werden bis zu <b>1 Jahr </b>nach Beendigung des Projektes gespeichert.</p>
                <p>Personenbezogene Daten aus Geschäftsbeziehungen, wie Lieferanten- und Dienstleisterdaten werden bis
                    zu <b>10 Jahre </b>gespeichert.</p>
                <p>Darüber hinaus unterliegt der CPYE verschiedenen Aufbewahrungs- und Dokumentationspflichten, die sich
                    aus der Abgabenordnung ergeben. Die dort vorgegebenen Fristen zur Aufbewahrung bzw. Dokumentation
                    betragen <b>10 Jahre </b>aufgrund steuerlicher Vorgaben nach §147 AO.</p>
                <div><h4>7. Betroffenenrechte und Beschwerderecht</h4></div>
                <p>Jede betroffene Person hat das Recht auf Auskunft, auf Berichtigung, auf Löschung sowie auf
                    Einschränkung der Verarbeitung. Diese Rechte nach Art. 15 bis 18 DS-GVO können gegenüber dem CPYE
                    unter der oben in der Rubrik „Name und Kontaktdaten des Verantwortlichen“ genannten Adresse geltend
                    gemacht werden.</p>
                <p>Wenn Sie der Auffassung sind, dass eine Datenverarbeitung gegen Datenschutzrecht verstößt, haben Sie
                    das Recht, sich bei einer Datenschutzaufsichtsbehörde Ihrer Wahl zu beschweren (Art. 77 DS-GVO i. V.
                    m. § 19 BDSG). Hierzu gehört auch die für Sie zuständige Datenschutzaufsichtsbehörde, die Sie unter
                    folgenden Kontaktdaten erreichen können:</p>
                <p>Berliner Beauftragte für Datenschutz und Informationsfreiheit</p>
                <p>Friedrichstr. 219</p>
                <p>10969 Berlin</p>
                <p>Telefon: 030 13889-0</p>
                <p>E-Mail: <a href="mailto:mailbox@datenschutz-berlin.de">mailbox@datenschutz-berlin.de</a></p>
                <div><h4>8. Freiwilligkeit der Datenbereitstellung</h4></div>
                <p>Im Rahmen der Mitgliedschaft im CPYE müssen Sie nur Daten bereitstellen, die für die Begründung,
                    Durchführung und Beendigung der Mitgliedschaft erforderlich sind. Ohne diese Daten wird der CPYE in
                    der Regel die Mitgliedschaft ablehnen müssen oder eine bestehende Mitgliedschaft nicht mehr
                    durchführen können und ggf. beenden müssen.</p>
                <b>Die Angabe darüberhinausgehender personenbezogener Daten ist freiwillig.</b>

                <div><h3>II. Information über Ihr Widerspruchsrecht nach Art. 21 DS-GVO</h3></h2>
                    <p>Sie haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen
                        die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 S. 1
                        lit. f DS-GVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt,
                        Widerspruch einzulegen.</p>
                    <p>Legen Sie Widerspruch ein, wird der CPYE Ihre personenbezogenen Daten nicht mehr verarbeiten, es
                        sei denn, der CPYE kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
                        Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung,
                        Ausübung oder Verteidigung von Rechtsansprüchen.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
