<h2>Rechtliches</h2>
<div class="col-md-12">
  <div class="form-check form-switch">
    <input class="form-check-input not-empty" type="checkbox" role="switch" id="allow_contact" name="allow_contact">
    <label class="form-check-label" for="allow_contact">Ich bin damit einverstanden, dass der CPYE e.V. mich kontaktieren für Dinge rund um Rocktreff und Spielfest kontaktieren darf.</label>
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          Bitte erlaube uns, dich zu kontaktieren.
        </div>
  </div>
</div>
<div class="col-md-12">
  <div class="form-check form-switch">
    <input class="form-check-input not-empty" type="checkbox" role="switch" id="read_privacy" name="read_privacy">
    <label class="form-check-label" for="read_privacy">Ich habe die <a href="{% url "rockon_privacy" %}" target="_blank">Datenschutzbestimmungen</a> zur Kenntnis genommen und erkläre mich mit der Speicherung und Verarbeitung persönlichen Daten im Rahmen des Veranstaltungen Rocktreff und Spielfest einverstanden.</label>
      <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Bitte bestätige, dass du die Datenschutzbestimmungen gelesen hast.
      </div>
  </div>
</div>
