<div class="container text-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
          <a href="{% url "rockon_impressum" %}" class="nav-link px-2">Impressum</a>
      </li>
      <li class="nav-item">
          <a href="{% url "rockon_privacy" %}" class="nav-link px-2">Datenschutz</a>
      </li>
      <li class="nav-item">
          <span class="nav-link px-2">
            Build:
            {% if APP_BUILD_HASH == "local-dev"%}
              {{ APP_BUILD_HASH }}
            {% else %}
              <span title="{{ APP_BUILD_HASH }}">{{ APP_BUILD_HASH|slice:7 }}</span>
            {% endif %}
          </span>
      </li>
    </ul>
    <span class="col-md-4 mb-0">
      &copy; 2023 by <a target="_blank" href="https://github.com/clabs/rockon"><i class="fa-brands fa-github"></i> clabs and friends</a>, made with 🦝 in Berlin. Fragen? <a href="mailto:hallo@rockon.dev">hallo@rockon.dev</a>!
    </span>
</div>
