{% extends "base.html" %}
{% block content %}

<h1>Impressum</h1>
<h2>Angaben gemäß §5 TMG</h2>
<p>
  CPYE Komitee zur Förderung von Jugendaustauschprojekten e.V.<br />
  Viktoriastraße 10-18<br />
  12105 Berlin<br />
  Deutschland / Germany<br />
  Registernummer: VR 9634 B<br />
  Registergericht: Amtsgericht Charlottenburg
</p>
<h2>Vertreten durch</h2>
<ul>
  <li>Bernd Puhlmann</li>
  <li>Marco Herrmann</li>
  <li>Alexander Franke</li>
  <li>Lousia Richter</li>
  <li>Florian Fährmann</li>
</ul>
<h2>Kontakt</h2>
<p>
  E-Mail: <a href="info@cpye.de">info@cpye.de</a><br />
  Telefon: <a href="tel:+493062930945">030 62930945</a>
</p>
{% endblock content %}
