{% extends "base.html" %}
{% block content %}

<div>
  <h1>Impressum</h1>
</div>
<div>
  <h3>Angaben gemäß §5 TMG</h3>
</div>
<p>
  CPYE Komitee zur Förderung von Jugendaustauschprojekten e.V.<br />
  Viktoriastraße 10-18<br />
  12105 Berlin<br />
  Deutschland / Germany<br />
  Registernummer: VR 9634 B<br />
  Registergericht: Amtsgericht Charlottenburg
</p>
<div>
  <h3>Vertreten durch</h3>
</div>
<ul>
  <li>Bernd Puhlmann</li>
  <li>Marco Herrmann</li>
  <li>Alexander Franke</li>
  <li>Lousia Richter</li>
  <li>Florian Fährmann</li>
</ul>
<div>
  <h3>Kontakt</h3>
</div>
<p>
  E-Mail: <a href="mailto:info@cpye.de">info@cpye.de</a><br />
  Telefon: <a href="tel:+493062930945">030 62930945</a>
</p>
{% endblock content %}
