{% extends "base.html" %} {% block content %}

<script language="javascript">
  $(document).ready(() => {

    $('#form_submit').click(function (event) {
      event.preventDefault()
      // $('.ui.form').form('validate form')
    })
  })

  ajax_success = (data) => {
    console.debug(data)
    window.location.href = "{% url "crm_request_magic_link_submitted" %}"
  }
  ajax_error = (data) => {
    // FIXMIE: needs error handling
    console.error(data)
  }
  ajax_complete = (data) => {
    // hopenfully this is never triggered
    console.info(data)
  }

  const send_form = (fields) => {
    console.debug(fields)
    $.ajax({
      type: "POST",
      url: "{% url "api_request_magic_link" %}",
      data: JSON.stringify(fields),
      contentType: "application/json",
      headers: {
        "X-CSRFToken": fields.csrfmiddlewaretoken
      },
      dataType: "json",
      success: (data) => ajax_success(data),
      error: (data) => ajax_error(data),
      complete: (data) => ajax_complete(data)
    })
  }
</script>

<main>
  <form>
    <h1>Login anfordern</h1>

    <div class="form-floating">
      <input type="email" class="form-control" name="contact_email" id="contact_email" type="email" placeholder="jane.doe@example.net" autocomplete="email">
      <label for="contact_email">E-Mail-Adresse</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>
    <button type="submit" id="form_submit" class="w-100 btn btn-lg btn-primary">Absenden</button>
  </form>
</main>

{% endblock content %}
