{% extends "base.html" %} {% block content %} {% if success %}
<div class="ui raised very padded text container segment">
  <!-- FIXME: needs fluff text -->
  <div class="ui positive message">
    <div class="header">E-Mail-Adresse bestätigkeit</div>
    <p>Wir haben deine E-Mail-Adresse bestätigt. Danke!</p>
  </div>
</div>
{% else %}
<div class="ui raised very padded text container segment">
  <!-- FIXME: needs fluff text -->
  <div class="ui negative message">
    <div class="header">Token nicht gefunden</div>
    <!--FIXME: needs global contact mail-->
    <p>
      Wir konnten deine E-Mail-Adresse nicht bestätigen, falls du dir unsicher
      bist: schreib uns eine Mail an: foobar
    </p>
  </div>
</div>
{% endif %} {% endblock content %}
