{% load static %}
{% load compress %}
{% load compress %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{{ site_title }} | rockon</title>
{% compress css file theme_rocktreff %}
    <link rel="stylesheet"
          type="text/x-scss"
          href="{% static "rockon/theme.scss" %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/overrides.css" %}">
{% endcompress %}
{% compress js file vendor %}
    <script src="{% static "vendor/bootstrap.bundle.5.3.8.min.js" %}"></script>
    <script src="{% static "vendor/jquery-3.7.1.min.js" %}"></script>
{% endcompress %}
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static "favicon/apple-touch-icon.png" %}"/>
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static "favicon/favicon-32x32.png" %}"/>
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static "favicon/favicon-16x16.png" %}"/>
<link rel="manifest" href="{% static "favicon/site.webmanifest" %}"/>
{% compress css file fontawmesome %}
    <link href="{% static "fontawesome/css/fontawesome.css" %}"
          rel="stylesheet">
    <link href="{% static "fontawesome/css/brands.css" %}" rel="stylesheet">
    <link href="{% static "fontawesome/css/solid.css" %}" rel="stylesheet">
{% endcompress %}
<meta name="theme-color" content="#303030">
{% if SENTRY_FRONTEND_ENABLED %}
    <script src="{% static "vendor/sentry.10.17.0.bundle.tracing.min.js" %}"></script>
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        Sentry.init({
            dsn: '{{ SENTRY_DSN }}',
            tracesSampleRate: {{SENTRY_TRACES_SAMPLE_RATE|floatformat:2}},
            environment: '{{ SENTRY_ENVIRONMENT }}',
            integrations: [Sentry.browserTracingIntegration()]
        });
    </script>
{% endif %}
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    $(document).ready(() => {
        const dateHugeFormatter = new Intl.DateTimeFormat('de-DE', {
            weekday: 'long',
            day: 'numeric',
            month: 'long',
            year: 'numeric'
        })
        $('.date-format-huge').each((_, el) => {
            // Parse dd.MM.yyyy format
            const [day, month, year] = el.innerText.split('.')
            const date = new Date(year, month - 1, day)
            el.innerText = dateHugeFormatter.format(date)
        })
    })
</script>
{% include "opengraph.html" %}
